@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --viola: #6341BF;
    --giallo: #FFEB12;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
#percorso{
    background-color: var(--viola);
    display: flex;
    padding: 50px 0;
}

.percorso-description{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.percorso-description h1{
    font-size: 70px;
    color: var(--giallo);
}

.percorso-description p{
    color: white;
    font-size: 25px;
}

.percorso-description a,
.candidati-btn{
    text-decoration: none;
    color: var(--viola);
    padding: 10px 35px;
    background-color: var(--giallo);
    font-size: 20px;
    width: 250px;
    text-align: center;
}

.percorso-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.percorso-image img{
    width: 500px;
}

/* .percorso-image div{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
} */


#competenze{
    background-color: var(--giallo);
    padding-top: 30px;
}

#competenze h2{
    color: var(--viola);
    text-align: center;
    font-size: 30px;
}

.competenze-container{
    display: flex;
    padding: 50px;
}
.competenze-item{
    display: flex;
    gap: 15px;
}

.circle-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon svg {
    width: 30%;
    height: 30%;
}

.competenze-description{
    margin-bottom: 20px;
}
.competenze-description p,
.competenze-description h3{
    font-size: 16px;
}

.competenze-description h3{
    color: var(--viola);
    margin-bottom: 16px;
}

#perche{
    background-color: var(--viola);
    padding: 30px 0;
}

#perche h2{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.perche-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 50px;
}

.perche{
    background-color: var(--giallo);
    padding: 50px 25px;
    width: 350px;
    position: relative;
}

.perche h3{
    color: var(--viola);
    margin-bottom: 30px;
}

.circle-icon-perche{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.candidati-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.candidati-btn{
    border-radius: 20px;
}

 #bandi{
    padding: 6rem;
    padding-top: 30px;
    background-color: var(--giallo);
}

#bandi h2{
    text-align: center;
    color: var(--viola);
    margin-bottom: 50px;
    font-size: 30px;
}

.bandi-container{
    background-color: var(--giallo);
}
.bandi-container{
    display: flex;
    gap: 20px;
} 
 .bando{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.bando-logo{
    width: 100%;
    margin-bottom: 50px;
}

.bando-logo img{
    width: 100%;
    aspect-ratio: 16/9;
}

.bando-description{
    width: 80%;
   
}
.bando-description h3{
font-size: 15px;
margin-bottom: 30px;
}

.bando-description>ul{
margin-bottom: 30px;
font-size: 15px;
}

@media (max-width:992px){
    #percorso{
        flex-direction: column-reverse;
    }
#bandi{
    padding: 2rem;
}
    .percorso-description,
    .percorso-image{
        width: 100%;
    }
    .competenze-container,
    .perche-container{
        flex-direction: column;
    }

    .perche-container{
        justify-content: center;
        align-items: center;
    }

    /* .bando {
        width: calc(50% - 20px); 
    }
    .bandi-container{
        flex-direction: column;
        align-items: center;
    } */
}

@media (max-width: 600px) {
    .perche{
        width: 287px;
    }
    .percorso-description h1{
        font-size: 30px;
    }

    .percorso-image img{
        width: 300px;
    }
    #bandi,
    .competenze-container{
        padding: 1rem;
    }
    .bando {
        width: 100%; /* Un elemento per riga */
    }

    .bando-logo{
        display: flex;
        justify-content: center;
    }

    .bandi-container{
        flex-direction: column;
    }

    
}